html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.background {
    background-image:url("../images/ski2.jpg");
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    max-width:100vw;
    border-bottom:10px solid rgb(43, 83, 196);
}

/*---------- Header ----------*/

.header-container h1, h2{
    font-family: 'Black Han Sans', sans-serif;
}

.header-container h1{
    font-size:10vw;
    color:rgb(229, 233, 3);
}

.header-container h2{
    color:rgb(43, 83, 196);
    font-size:3vw; 
}

.menu-icon{
    font-size:4vw;
    color:rgb(43, 83, 196);
    font-weight:bold;
    top: 0;
    border:solid 4px rgb(229, 233, 3);
    border-radius:15px;
    padding:3px 7px 3px 7px;
}


/*---------- Season Passes ----------*/

.passes-container{
    background-color:rgb(43, 83, 196);
    position:relative;
}

.passes-container h2{
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:50px;
    margin-bottom:15px;
}

.full-width-rounded{
    width:100%;
    height:5px;
    background-color:rgb(229, 233, 3);
    margin:0;
}

.list-groups{
    margin-top:10px;
}

.list-details{
    border-radius:25px;
    margin-bottom:10px;
    overflow:hidden;
    padding-bottom:10px;   
}

.list-group h4{
    font-size:30px;
    font-weight:bold;
    border-bottom:2px solid rgb(229, 233, 3);
}

.pass-description{
    background-color:rgb(31, 72, 182);
    border-bottom:none;
    color:white;
    font-weight:bold;
    font-size:20px;
}

.list-group-price{
    font-size:30px;
    font-weight:bold;
}
/*---------- Callout ----------*/

.callout-container{
    background-color:rgb(255, 104, 98);
    height:380px;
    position:relative;
}

.callout-icon{
    font-size:200px;
}

a:not([href]) {
    color:white;
}

.noHover{
    pointer-events: none;
}

.callout-tag{
    font-family: 'Black Han Sans', sans-serif;
    color:white;
}

/*---------- Footer ----------*/

.footer-element{
    background-color:white;
    border-bottom:none;
    color:rgb(43, 83, 196);
}

.social-icon{
    border:none;
}

.social-icon i{
    font-size: 40px;
    color:rgb(43, 83, 196);
    margin-top:10px;
    margin-right:20px;
}

.social-icon i:hover{
    color:#818181;
} 
.social-tag{
    border:none;
    font-size:40px;
    font-family: 'Oswald', sans-serif;
}
/*---------- Mt.Collective for media query ----------*/

.lg-view{
    display:inline-block;
}

.sm-view{
    display:none;
}

/*---------- Maps ----------*/

.map-background{
    background-image:url("../images/mountain.jpg");
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    max-width:100vw;
    border-bottom:10px solid rgb(43, 83, 196);
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.iframe{
    border:5px white solid;
    border-radius:20px;
}

#map{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    height: 70%;
    width: 75%;
}

.map-header a{
    color:rgb(43, 83, 196);
    font-size:50px;
    font-family:'Black Han Sans', sans-serif;
    text-decoration:none;
}
/*---------- Home Menu ----------*/

.map-menu-btn{
    background-color:transparent;
    font-family:'Black Han Sans', sans-serif;
    font-size:50px;
    color:rgb(229, 233, 3);
}

.map-menu-btn:hover{
    color:rgb(229, 233, 3);
    text-decoration:none;
}

.burger-menu-links{
    font-family:'Oswald', sans-serif;
    color:white;
}

.burger-menu-links:hover{
    color:#818181;
}

.dropdown-menu h3{
    font-family: 'Oswald', sans-serif;
    color:white;
    text-decoration:underline;
}

.dropdown-item{
    font-size:50px;
}

.dropdown-menu{
    background-color:rgb(43, 83, 196);
    border-radius:25px;
}

.home-btn{
    font-family:'Oswald', sans-serif;
    color:rgb(229, 233, 3);
}

.home-btn:hover{
    color:#818181;
}

.epic-btn{
    background-color:rgb(43, 83, 196);
    font-family:'Oswald', sans-serif;
    color:white;
}

.epic-btn:hover{
    color:#818181;
}

.epic-pressed{
    background-color:rgb(43, 83, 196);
    font-family:'Oswald', sans-serif;
    color:#818181;
}

.collective-btn{
    background-color:rgb(43, 83, 196);
    font-family:'Oswald', sans-serif;
    color:white;
}

.collective-btn:hover{
    color:#818181;
}

.collective-pressed{
    background-color:rgb(43, 83, 196);
    font-family:'Oswald', sans-serif;
    color:#818181;
}

.ikon-btn{
    background-color:rgb(43, 83, 196);
    font-family:'Oswald', sans-serif;
    color:white;
}

.ikon-btn:hover{
    color:#818181;
}

.ikon-pressed{
    background-color:rgb(36, 59, 122);
    font-family:'Oswald', sans-serif;
    color:#818181;
}

.social-icon{
    border:none;
}

.map-social-icon i{
    font-size: 50px;
    color:white;
}

.map-social-icon i:hover{
    color:#818181;
}

.pass-title{
    display:inline-block;
    height:75px;
    line-height:70px;
    text-decoration:none;
    font-family: 'Oswald', sans-serif;
    color:rgb(229, 233, 3);
    font-size:4vw;
    width:23.5%;
    text-align:center;
}

.list-groups{
    margin:5px;
}

.epic-container{
    height:100%;
    background-color:rgb(255, 104, 98);
    display:none;
}

.epic-container a{
    color:white;
    text-decoration:none;
}

.epic-container h1{
    font-size:3vw;
    color:white;
    font-family:'Oswald', sans-serif;
}

.epic-rounded{
    width:100%;
    height:5px;
    background-color:white;
    margin:0;
}

.mountain-name{
    background-color:transparent;
    border-bottom:none;
    font-weight:bold;
    font-size:18px;
    border:none;
}

.mountain-name:hover{
    color:#818181;
}

.collective-container{
    height:100%;
    background-color:white;
    display:none;
    border-bottom:2px solid rgb(43, 83, 196);
}

.collective-container h1{
    font-size:3vw;
    color:rgb(43, 83, 196);
    font-family:'Oswald', sans-serif;
}

.collective-container a{
    color:rgb(43, 83, 196);
    text-decoration:none;
}

.collective-rounded{
    width:100%;
    height:5px;
    background-color:rgb(43, 83, 196);
    margin:0;
}

.ikon-container{
    height:100%;
    background-color:rgb(43, 83, 196);
    display:none;
}

.ikon-container h1{
    font-size:3vw;
    color:white;
    font-family:'Oswald', sans-serif;
}

.ikon-container a{
    color:white;
    text-decoration:none;
}

.ikon-rounded{
    width:100%;
    height:5px;
    background-color:white;
    margin:0;
}

/*---------- General Info Comparison ----------*/
.info-header-background {
    background: url("../images/mountain2.jpg"); 
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    max-width:100vw;
    background-attachment: fixed;
}

.info-menu-icon{
    font-size:4vw;
    color:rgb(229, 233, 3);
    font-weight:bold;
    top: 0;
    border:solid 4px rgb(43, 83, 196);
    border-radius:15px;
    padding:3px 7px 3px 7px;
}

.info-container{
    font-family:'Oswald', sans-serif;
}

.pink-columns{
    background-color:rgba(255, 103, 98, 0.452);
    border:10px solid rgb(255, 104, 98);
    border-radius:25px;
}

.blue-columns{
    background-color:rgba(43, 84, 196, 0.5);
    border:10px solid rgb(43, 83, 196);
    border-radius:25px;
}

.white-columns{
    background-color:rgba(255, 255, 255, 0.473);
    border:10px solid white;
    border-radius:25px;
}

.info-row h2{
    font-size:50px;
    color:white;
    border-bottom:2px solid white;
}

.info-row h1{
    font-size:100px;
    color:white;
    font-weight:bold;
}

.price{
    color:white;
    font-size:100px;
}

.pink-row-section{
    background:rgb(255, 104, 98);
    border-radius:25px;
}

.blue-row-section{
    background:rgb(43, 83, 196);
    border-radius:25px;
}

.white-row-section{
    background:white;
    border-radius:25px;
}

.white-row h2{
    font-size:50px;
    color:rgb(43, 83, 196);
    border-bottom:2px solid rgb(43, 83, 196);
}

.white-row h1{
    font-size:100px;
    color:rgb(43, 83, 196);
    font-weight:bold;
}

.blue-text{
    font-size:100px;
    color:rgb(43, 83, 196);
}

.white-text-li{
    background-color:transparent;
    border-bottom:none;
    font-weight:bold;
    font-size:30px;
    border:none;
    color:white;
}

.white-text-li:hover{
    color:#818181;
    text-decoration:none;
}

ul {
    list-style-type: none;
}
/*---------- Media Queries ----------*/

@media (max-width: 414px) {
     .header-container h1{
    font-size:17vw;
    }

    .header-container h2{
    font-size:5vw;
    }

    .menu-icon{
    font-size:8vw;
    }
}

@media (max-width: 900px) {
     .header-container h1{
    font-size:15vw;
    }

    .header-container h2{
    font-size:4vw;
    }

    .menu-icon{
    font-size:6vw;
    }
}

@media (min-width: 991px) {
    .pass-details{
        height:475px;
    }
}

@media (max-width: 991px) {
    .callout-container{
        display:none;
    }
}

@media (max-width: 992px) {
    .social-tag{
        display:none;
    }
    .map-footer-tag{
        display:none;
    }
    .social-icon{
        margin-bottom:30px;
    }
    .map-social-icon{
        margin-bottom:30px;
    }
}

@media screen and (max-width: 1050px) {
    #map{
        height:95%;
        width:99%;
    }
}

@media (max-width: 1100px) {
    .lg-view{
       display:none;
    }

    .sm-view{
       display:inline-block;
    }

}

@media screen and (max-width: 1450px) {
    .menu-btn{
        font-size:35px;
    }
}

@media screen and (max-width: 600px) {
    .menu-btn{
        font-size:25px;
    }
    .dropdown-item{
        font-size:25px;
    }
    .menu-container{
        display:flex;
        justify-content:center;
    }
}

