html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.background {
    background-image:url("../images/ski2.jpg");
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    max-width:100vw;
    border-bottom:10px solid rgb(255, 104, 98);
}

/*---------- SideNav ----------*/
.menu-icon{
    font-size:4vw;
    color:rgb(43, 83, 196);
    font-weight:bold;
    top: 0;
    border:solid 4px rgb(229, 233, 3);
    border-radius:15px;
    padding:3px 7px 3px 7px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0; 
  right: 0;
  background-color:rgb(43, 83, 196);
  overflow-x: hidden;
  padding-top:90px;
  transition:0.5s;
  font-family: 'Oswald', sans-serif; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: white;
  display: block;
  white-space:nowrap;
}

.sidenav a:hover {
  color: #818181;
}

.sidenav a i{
    font-size:75px;
}

#main {
  transition:.5s;
  padding: 20px;
}

.sideNav-social{
    font-size: 100px;
    color:white;
    margin-top:10px;
    margin-right:20px;
    border:none;
}

.sideNav-social i:hover{
    color:#818181;
} 

.nav-social{
    white-space:nowrap;
}
/*---------- Header ----------*/

.header-container h1, h2{
    font-family: 'Black Han Sans', sans-serif;
}

.header-container h1{
    font-size:10vw;
    color:rgb(229, 233, 3);
}

.header-container h2{
    color:rgb(43, 83, 196);
    font-size:3vw; 
}

/*---------- Season Passes ----------*/

.passes-container{
    background-color:rgb(43, 83, 196);
    position:relative;
}

.passes-container h2{
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:50px;
    margin-bottom:15px;
}

.full-width-rounded{
    width:100%;
    height:5px;
    background-color:rgb(229, 233, 3);
    margin:0;
}

.list-groups{
    margin-top:10px;
}

.list-details{
    
    border-radius:25px;
    margin-bottom:10px;
    overflow:hidden;
    padding-bottom:10px;   
}

.list-group h4{
    font-size:30px;
    font-weight:bold;
    border-bottom:2px solid rgb(229, 233, 3);
}

.pass-description{
    background-color:rgb(31, 72, 182);
    border-bottom:none;
    color:white;
    font-weight:bold;
    font-size:20px;
}

.list-group-price{
    font-size:30px;
    font-weight:bold;
}

.btn-lg{
    background-color:white;
    color:rgb(43, 83, 196);
    width:300px;
    font-family: 'Oswald', sans-serif;
    font-size:25px;
}

.btn-lg:hover{
    color:white;
    background-color:#818181;
}

/*---------- Callout ----------*/

.callout-container{
    background-color:rgb(255, 104, 98);
    height:380px;
    position:relative;
}

.callout-icon{
    font-size:200px;
}

a:not([href]) {
    color:white;
}

.noHover{
    pointer-events: none;
}

.callout-tag{
    font-family: 'Black Han Sans', sans-serif;
    color:white;
}

/*---------- Footer ----------*/

.footer-element{
    background-color:white;
    border-bottom:none;
    color:rgb(255, 104, 98);
}

.social-icon{
    border:none;
}

.social-icon i{
    font-size: 40px;
    color:rgb(255, 104, 98);
    margin-top:10px;
    margin-right:20px;
}

.social-icon i:hover{
    color:#818181;
} 
.social-tag{
    border:none;
    font-size:40px;
    font-family: 'Oswald', sans-serif;
}
/*---------- Mt.Collective for media query ----------*/

.lg-view{
    display:inline-block;
}

.sm-view{
    display:none;
}

/*---------- Maps ----------*/

.map-background{
    background-image:url("../images/mountain.jpg");
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    max-width:100vw;
    border-bottom:10px solid rgb(43, 83, 196);
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.iframe{
    border:10px white solid;
    border-radius:20px;
}
#map{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    height: 70%;
    width: 75%;
}

.map-header{
    color:rgb(43, 83, 196);
    font-size:50px;
    font-family:'Black Han Sans', sans-serif;
}

.map-header a{
    color:rgb(43, 83, 196);
    text-decoration:none;
}

.brand-rounded{
    width:300px;
    height:5px;
    background-color:rgb(229, 233, 3);
    margin:0;
}

.pass-title{
    display:inline-block;
    height:75px;
    line-height:70px;
    text-decoration:none;
    font-family: 'Oswald', sans-serif;
    color:rgb(229, 233, 3);
    font-size:4vw;
    width:23.5%;
    text-align:center;
}

.epic-container{
    height:100%;
    background-color:rgb(255, 104, 98);
}

.epic-container a{
    color:white;
    text-decoration:none;
}

.epic-container h1{
    font-size:3vw;
    color:white;
    font-family:'Oswald', sans-serif;
}

.epic-rounded{
    width:100%;
    height:5px;
    background-color:white;
    margin:0;
}

.mountain-name{
    background-color:transparent;
    border-bottom:none;
    font-weight:bold;
    font-size:20px;
    border:none;
}

.mountain-name:hover{
    color:#818181;
}

.collective-container{
    height:100%;
    background-color:white;
}

.collective-container h1{
    font-size:3vw;
    color:rgb(43, 83, 196);
    font-family:'Oswald', sans-serif;
}

.collective-container a{
    color:rgb(43, 83, 196);
    text-decoration:none;
}

.collective-rounded{
    width:100%;
    height:5px;
    background-color:rgb(43, 83, 196);
    margin:0;
}

.ikon-container{
    height:100%;
    background-color:rgb(43, 83, 196);
}

.ikon-container h1{
    font-size:3vw;
    color:white;
    font-family:'Oswald', sans-serif;
}

.ikon-container a{
    color:white;
    text-decoration:none;
}

.ikon-rounded{
    width:100%;
    height:5px;
    background-color:white;
    margin:0;
}

.map-footer{
    background-color:white;
    border-bottom:none;
    color:rgb(43, 83, 196);
}

.social-icon{
    border:none;
}

.map-social-icon i{
    font-size: 40px;
    color:rgb(43, 83, 196);
    margin-top:10px;
    margin-right:20px;
}

.map-social-icon i:hover{
    color:#818181;
} 
.map-footer-tag{
    border:none;
    font-size:40px;
    font-family: 'Oswald', sans-serif;
}

/*---------- Media Queries ----------*/


@media (max-width: 900px) {
     .header-container h1{
    font-size:15vw;
    }

    .header-container h2{
    font-size:4vw;
    }

    .menu-icon{
    font-size:6vw;
    }
}
@media (min-width: 991px) {
    .pass-details{
        height:475px;
    }
}

@media (max-width: 991px) {
    .callout-container{
        display:none;
    }
}

@media (max-width: 992px) {
    .social-tag{
        display:none;
    }
    .map-footer-tag{
        display:none;
    }
    .social-icon{
        margin-bottom:30px;
    }
    .map-social-icon{
        margin-bottom:30px;
    }
}

@media (max-width: 1065px) {
    .lg-view{
       display:none;
    }

    .sm-view{
       display:inline-block;
    }

}

@media (max-width: 1450px) {
    .epic-container{
        display:none;
    }
    .collective-container{
        display:none;
    }
    .ikon-container{
        display:none;
    }
    #map{
        height:95%;
        width:99%;
    }
}

@media (max-width: 414px) {
     .header-container h1{
    font-size:17vw;
    }

    .header-container h2{
    font-size:5vw;
    }

    .menu-icon{
    font-size:8vw;
    }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.epic-btn{
    background-color:rgb(255, 104, 98);
    color:white;
    
}

.collective-btn{
    background-color:white;
}

.ikon-btn{
    background-color:rgb(43, 83, 196);
    color:white;
}